<p-panel header="Add Filters" [toggleable]="true" [style]="{'margin-bottom':'20px'}" [collapsed]="false">
    Available Filters
    <div class="ui-g">
        <div class="ui-g-4">
            <div class="ui-g-12 match-left-pad">
                <div class="ui-g-12">
                    <p-triStateCheckbox [(ngModel)]="hasImageValue" label=": Has Image ?"></p-triStateCheckbox>
                </div>
            </div>
            <div class="ui-g-12 match-left-pad">
                <div class="ui-g-12">
                    <p-triStateCheckbox [(ngModel)]="isInContactValue" label=": In Contact ?"></p-triStateCheckbox>
                </div>
            </div>
            <div class="ui-g-12 match-left-pad">
                <div class="ui-g-12">
                    <p-triStateCheckbox [(ngModel)]="isFavouriteValue" label=": Is Favourite ?"></p-triStateCheckbox>
                </div>
            </div>
        </div>
        <div class="ui-g-8">
            <div class="ui-g-12 match-right-pad">
                <div class="ui-g-4">
                    <p-checkbox [(ngModel)]="compatibilityCheckValue" [binary]="true" label="Compatibility Score (%)" class="ui-g-4 match-right-text"></p-checkbox>
                </div>
                <div class="ui-g-8">
                    <div>
                        <p-slider [(ngModel)]="compatibilityRangeValues" [step]=".1" [range]="true" [min]="1" [max]="99" [disabled] = "!compatibilityCheckValue"></p-slider>
                    </div>
                    <div styleClass="col-button" class="match-center-text">
                        [ {{compatibilityRangeValues[0] + ' - ' + compatibilityRangeValues[1]}} ]
                    </div>
                </div>
            </div>
            <div class="ui-g-12 match-right-pad">
                <div class="ui-g-4">
                    <p-checkbox [(ngModel)]="ageCheckValue" [binary]="true" label="Age (in years)" class="ui-g-4 match-right-text"></p-checkbox>
                </div>
                <div class="ui-g-8">
                    <div>
                        <p-slider [(ngModel)]="ageRangeValues" [range]="true" [min]="18" [max]="95" [disabled] = "!ageCheckValue" ></p-slider>
                    </div>
                    <div styleClass="col-button" class="match-center-text">
                        [ {{ageRangeValues[0] + ' - ' + ageRangeValues[1]}} ]
                    </div>
                </div>
            </div>
            <div class="ui-g-12 match-right-pad">
                <div class="ui-g-4">
                    <p-checkbox [(ngModel)]="heightCheckValue" [binary]="true" label="Height (in cm)" class="ui-g-4 match-right-text"></p-checkbox>
                </div>
                <div class="ui-g-8">
                    <div>
                        <p-slider [(ngModel)]="heightRangeValues" [range]="true" [min]="135" [max]="210" [disabled] = "!heightCheckValue" [animate]="true" class="match-slider-custom"></p-slider>
                    </div>
                    <div styleClass="col-button" class="match-center-text">
                        [ {{heightRangeValues[0] + ' - ' + heightRangeValues[1]}} ]
                    </div>
                </div>
            </div>
            <div class="ui-g-12 match-right-pad">
                <div class="ui-g-4">
                    <p-checkbox [(ngModel)]="distanceCheckValue" [binary]="true" label="Distance (in km)" class="ui-g-4 match-right-text"></p-checkbox>
                </div>
                <div class="ui-g-8">
                    <div>
                        <p-slider [(ngModel)]="distRangeValue" [min]="30" [max]="300" [disabled] = "!distanceCheckValue" class="match-slider-custom"></p-slider>
                    </div>
                    <div styleClass="col-button" class="match-center-text">
                        [ {{distRangeValue}} ]
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 match-center-text">
            <button pButton type="button" label="Apply All" (click)="handleApplyFilters($event)"class="ui-button-raised ui-button-rounded"></button>
|
            <button pButton type="button" label="Clear All" (click)="handleClearFilters($event)"class="ui-button-raised ui-button-rounded"></button>

        </div>
    </div>

</p-panel>
<p-table [columns]="matchCols" [value]="matches" dataKey="display_name" [paginator]="true" rows="15">
    <ng-template pTemplate="header" let-columns class="ui-g-4">
        <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" class="ui-g-4">
        <tr>
            <td>
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
            </td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 1">
                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                    <div class="ui-g-12 ui-md-3 shadow-box ui-shadow-1" style="text-align:center">
                        <img [attr.alt]="rowData.main_photo" src="{{rowData.main_photo}}">
                    </div>
                    <div class="ui-g-12 ui-md-9">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <b>Name:</b> {{rowData.display_name}}
                            </div>
                            <div class="ui-g-12">
                                <b>Age:</b> {{rowData.age}}
                            </div>
                            <div class="ui-g-12">
                                <b>Job:</b> {{rowData.job_title}}
                            </div>
                            <div class="ui-g-12">
                                <b>Religion:</b> {{rowData.religion}}
                            </div>
                            <div class="ui-g-12">
                                <b>Is Favourite:</b> {{rowData.favourite}}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

